

<launch>
  <arg name="config_file" default="assets_writer_backpack_2d.lua"/>
  <node name="ist_slam_assets_writer" pkg="ist_slam_ros" required="true"
      type="ist_slam_assets_writer" args="
          -configuration_directory $(find ist_slam_ros)/configuration_files
          -configuration_basename $(arg config_file)
          -urdf_filename $(find ist_slam_ros)/urdf/backpack_2d.urdf
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>
