

<launch>
  <param name="robot_description"
    textfile="$(find ist_slam_ros)/urdf/backpack_3d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="ist_slam_node" pkg="ist_slam_ros"
      type="ist_slam_node" args="
          -configuration_directory $(find ist_slam_ros)/configuration_files
          -configuration_basename backpack_3d.lua"
      output="screen">
    <remap from="points2_1" to="horizontal_laser_3d" />
    <remap from="points2_2" to="vertical_laser_3d" />
  </node>

  <node name="ist_slam_occupancy_grid_node" pkg="ist_slam_ros"
      type="ist_slam_occupancy_grid_node" args="-resolution 0.05" />
</launch>
