

<launch>
  <param name="/use_sim_time" value="true" />

  <node name="ist_slam_node" pkg="ist_slam_ros"
      type="ist_slam_node" args="
          -configuration_directory
              $(find ist_slam_ros)/configuration_files
          -configuration_basename pr2.lua"
      output="screen">
    <remap from="scan" to="/base_scan" />
  </node>

  <node name="ist_slam_occupancy_grid_node" pkg="ist_slam_ros"
      type="ist_slam_occupancy_grid_node" args="-resolution 0.05" />

  <node name="tf_remove_frames" pkg="ist_slam_ros"
      type="tf_remove_frames.py">
    <remap from="tf_out" to="/tf" />
    <rosparam param="remove_frames">
      - map
      - odom_combined
    </rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find ist_slam_ros)/configuration_files/demo_2d.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock $(arg bag_filename)">
    <remap from="tf" to="tf_in" />
  </node>
</launch>
