

<launch>
  <param name="/use_sim_time" value="true" />

  <param name="robot_description"
    textfile="$(find ist_slam_ros)/urdf/backpack_2d.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="ist_slam_grpc_server" pkg="ist_slam_ros"
      type="ist_slam_grpc_server.sh" args="
          -configuration_directory $(find ist_slam_ros)/configuration_files
          -configuration_basename backpack_2d_server.lua">
  </node>

  <node name="ist_slam_grpc_node" pkg="ist_slam_ros"
      type="ist_slam_grpc_node" args="
	  -client_id CLIENT_ID
          -configuration_directory $(find ist_slam_ros)/configuration_files
          -configuration_basename backpack_2d.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>

  <node name="playbag" pkg="rosbag" type="play"
        args="--clock $(arg bag_filename)" />
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find ist_slam_ros)/configuration_files/demo_2d.rviz" />
</launch>
