

<launch>
  <arg name="bag_filenames"/>
  <arg name="no_rviz" default="false"/>
  <arg name="rviz_config" default="$(find ist_slam_ros)/configuration_files/demo_3d.rviz"/>
  <arg name="configuration_directory" default="$(find ist_slam_ros)/configuration_files"/>
  <arg name="configuration_basenames" default="backpack_3d.lua"/>
  <arg name="urdf_filenames" default="$(find ist_slam_ros)/urdf/backpack_3d.urdf"/>
  <arg name="launch_prefix" default=""/>

  <remap from="points2_1" to="horizontal_laser_3d" />
  <remap from="points2_2" to="vertical_laser_3d" />
  <include file="$(find ist_slam_ros)/launch/offline_node.launch">
    <arg name="bag_filenames" value="$(arg bag_filenames)"/>
    <arg name="no_rviz" value="$(arg no_rviz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="configuration_directory" value="$(arg configuration_directory)"/>
    <arg name="configuration_basenames" value="$(arg configuration_basenames)"/>
    <arg name="urdf_filenames" value="$(arg urdf_filenames)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
  </include>
</launch>
