<launch>
   <param name="/use_sim_time" value="false" />
  
   <!-- node name="chassis" pkg="chassis" type="chassis" output="screen" respawn="true">
      <rosparam file="$(find ist_driver)/config/my_ist_params_imu.yaml" command="load" />
   </node -->

   <node name="chassis" pkg="chassis" type="chassis" output="screen" respawn="true">
      <rosparam file="$(find chassis)/config/tic60.yaml" command="load" />
   </node>

    <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /-->
    <!-- param name="robot_description" textfile="$(find chassis)/config/tic60_v2_12.urdf" /-->

   <include file="$(find rs_imu)/launch/rs_imu.launch"/>
   
   
   <include file="$(find ist_driver)/launch/robot_pose_ekf.launch"/>
   

  <arg name="node_name"             value="velocity_smoother"/>
  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
  <arg name="config_file"           value="$(find ist_driver)/config/yocs_velocity_smoother.yaml"/>
  <arg name="raw_cmd_vel_topic"     value="cmd_vel"/>
  <arg name="smooth_cmd_vel_topic"  value="smoother_cmd_vel"/>
  <arg name="robot_cmd_vel_topic"   value="robot_cmd_vel"/>
  <arg name="odom_topic"            value="odom"/>
  
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" respawn="true"/>
  
  <!-- velocity smoother -->
  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
    <arg name="node_name"             value="$(arg node_name)"/>
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="config_file"           value="$(arg config_file)"/>
    <arg name="raw_cmd_vel_topic"     value="$(arg raw_cmd_vel_topic)"/>
    <arg name="smooth_cmd_vel_topic"  value="$(arg smooth_cmd_vel_topic)"/>
    <arg name="robot_cmd_vel_topic"   value="$(arg robot_cmd_vel_topic)"/>
    <arg name="odom_topic"            value="$(arg odom_topic)"/>
  </include>
  <!--node name="ist_action" pkg="ist_tools" type="check_action.py" output="screen" respawn="true"/-->
  
</launch>
