<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>
  <include file="$(find dashgo_nav)/launch/include/odom/gmapping_base.launch"/>
  <include file="$(find dashgo_nav)/launch/include/odom/teb_move_base.launch"/>
  <!--
    <include file="$(find world_canvas_server)/launch/world_canvas_server.launch"/>
  -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
</launch>
